@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400;0,500;0,600;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Familjen Grotesk', sans-serif;
}

body {
    background: #000;
    color: #E3E3E3;
    width: 90%;
}

a {
    color: #E3E3E3;
}

p {
    font-size: 20px;
}

h2 {
    font-size: 30px;
}

h3, h4 {
    font-size: 24px;
}

/* #header {
    display: flex;
} */

#logo {
    font-size: 30px;
    font-weight: 800;
    position: absolute;
    cursor: pointer;
    z-index: 2;
    top: 1rem;
    left: 0.5rem;
}

/* Navigation Menu */

.overlay {
    position: fixed;
    z-index: 9;
    top: 0;
    right: 0;
    width: 50vw;
    height: 100vh;
    background-color: #2800FF;
    transform: translateX(-100vw);
}

.overlay-slide-right {
    transition: all 0.4s ease-in-out;
    transform: translateX(0);
}

.overlay-slide-left {
    transition: all 0.8s ease-in-out;
    transform: translateX(100vw);
}

/* Navigation Menu Items */
nav,
nav ul {
    height: 100vh;
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    list-style: none;
}

nav ul li {
    height: 25%;
    overflow: hidden;
}

nav li a {
    position: relative;
    top: 45%;
    color: #fff;
    letter-spacing: 4px;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 30px;
}

nav li a:hover {
    transform: scale(1.2);
}

nav li a::before {
    width: 40vw;
    height: 1px;
    background-color: #fff;
    top: 60%;
    left: 0;
    opacity: 0;
    position: absolute;
}

nav li a:hover::before {
    opacity: 1;
}

/* Hamburger menu bars */

.menu-bars {
    position: fixed;
    top: 1rem;
    right: 2rem;
    z-index: 10;
    display: inline;
    cursor: pointer;
}

.bar1 {
    width: 35px;
    height: 2px;
    background-color: #FFF;
    margin: 8px 0;
    transition: 0.4s;
}

.bar2 {
    width: 25px;
    height: 2px;
    background-color: #FFF;
    margin: 8px 0;
    transition: 0.4s;
}

.bar3  {
    width: 35px;
    height: 2px;
    background-color: #FFF;
    margin: 8px 0;
    transition: 0.4s;
}


/* Rotate first bar */
.change .bar1 {
    transform: rotate(-45deg) translate(-7px, 8px);
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    transform: rotate(45deg) translate(-6px, -8px);
}

/* Home Styles */

#home {
    height: 100dvh;
}

.home-layout {
    position: relative;
    display: grid;
    top: 40%;
    justify-content: center;
    /* padding: 50px 0; */
    align-items: center;
    margin: auto;
    width: 60%;
}

.home-page-number {
    font-size: 16rem;
    position: absolute;
    bottom: 5rem;
    font-weight: bold;
    color: #2800FF;
    z-index: 1;
}

.text-one {
    font-size: 72px;
    font-weight: 600;
    color: #E3E3E3;
    z-index: 2;
    
}

.text-two {
    font-size: 48px;
    font-weight: 600;
    color: #E3E3E3;
    z-index: 2;
    align-items: center;
}

.home-button {
    margin: 14px 0;
    outline: none;
    padding: 8px 16px;
    border-radius: 6px;
    font-size: 25px;
    font-weight: 600;
    background: #2800FF;
    color: #E3E3E3;
    cursor: pointer;
    border: 2px solid transparent;
    transition: all 0.4s ease;
    width: 14rem;
}

.home-button:hover {
    border: 2px solid #E3E3E3;
}

/* About Section Styles */

#about {
    width: 100%;
    height: auto;
    margin-top: 40px;
    margin-top: 40px;
}

.about-page-number {
    font-size: 10rem;
    position: absolute;
    margin-left: 0.5rem;
    font-weight: bold;
    color: #2800FF;
    z-index: 1;
}

.title-about {
    font-size: 4.5rem;
    font-weight: bold;
    position: relative;
    top: 4rem;
    left: 5rem;
    z-index: 2;
    margin-bottom: 20px;
}

.about-content {
    position: relative;
    top: 4rem;
    left: 5rem;
}

/* Projects Section Styles */

#projects {
    width: 100%;
    height: auto;
    margin-top: 40px;
    margin-top: 40px;
}

.projects-page-number {
    font-size: 10rem;
    position: absolute;
    margin-left: 0.5rem;
    font-weight: bold;
    color: #2800FF;
    z-index: 1;
}

.title-projects {
    font-size: 4.5rem;
    font-weight: bold;
    position: relative;
    top: 4rem;
    left: 5rem;
    z-index: 2;
}

/* Project Cards Info */

.projects-layout {
    display: flex;
    padding: 0.5rem;
    align-items: stretch;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: relative;
    top: 4rem;
}

.project-card {
    width: 26rem;
    border: 1px solid #FFF;
    margin: 20px;
}

.project-card > button {
    margin: 6px 0;
    padding: 4px 8px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    background: #2800FF;
    color: #E3E3E3;
    cursor: pointer;
    border: 2px solid transparent;
    transition: all 0.4s ease;
}

.project-card button:hover {
    border: 2px solid #E3E3E3;
}

.icons {
    display: flex;
    justify-content: space-evenly;
}

/* Contact Section Styles */

#contact {
    display: grid;
    width: 100%;
    height: auto;
    margin-top: 40px;
    margin-top: 40px;
}

#about {
    width: 100%;
    height: auto;
    margin-top: 40px;
    margin-top: 40px;
}


.contact-page-number {
    font-size: 10rem;
    position: absolute;
    margin-left: 0.5rem;
    font-weight: bold;
    color: #2800FF;
    z-index: 1;
}

.title-contact {
    font-size: 4.5rem;
    font-weight: bold;
    position: relative;
    top: 4rem;
    left: 5rem;
    z-index: 2;
}

.contact-layout {
    display: grid;
    justify-content: center;
}

/* Footer Styles */

#footer {
    font-size: 2em;
    text-align: center;
}
