@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400;0,500;0,600;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Familjen Grotesk', sans-serif;
}

body {
    background: #000;
    color: #E3E3E3;
    background-image: url("../images/background/47.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

a {
    color: #E3E3E3;
}

p {
    font-size: 20px;
}

h2 {
    font-size: 30px;
}

h3, h4 {
    font-size: 24px;
}

hr {
    z-index: 2;
}

/* Navbar Styles */

#logo {
    font-size: 30px;
    margin: 1rem;
    padding: 0;
}
.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 30px;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.navbar-links li:hover {
    background-color: #2800FF;
}

.toggle-button {
    position: absolute;
    margin: 1.5rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}

/* Home Page Styles */

#home {
    height: 100dvh;
}

.home-layout {
    position: relative;
    display: grid;
    top: 20%;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.text-one {
    font-size: 72px;
    font-weight: 600;
    color: #E3E3E3;
    z-index: 2;
    
}

.text-two {
    font-size: 48px;
    font-weight: 600;
    color: #E3E3E3;
    z-index: 2;
    align-items: center;
}

.home-button {
    margin: 14px 0;
    outline: none;
    padding: 8px 16px;
    border-radius: 6px;
    font-size: 25px;
    font-weight: 600;
    background: #2800FF;
    color: #E3E3E3;
    cursor: pointer;
    border: 2px solid transparent;
    transition: all 0.4s ease;
    width: 14rem;
}

.home-button:hover {
    border: 2px solid #E3E3E3;
}

/* About Section Styles */

#about {
    background-color: #000;
}

.about-page-number {
    font-size: 10rem;
    position: absolute;
    margin-left: 0.5rem;
    font-weight: bold;
    color: #2800FF;
    z-index: 1;
}

.title-about {
    font-size: 4.5rem;
    font-weight: bold;
    position: relative;
    top: 4rem;
    left: 5rem;
    z-index: 2;
    margin-bottom: 20px;
    width: 50%;
}

.about-content {
    position: relative;
    top: 4rem;
    background-color: #000;
    height: fit-content;
    padding: 1rem;
    padding-bottom: 3rem;
}

.about-content > p {
    margin-left: 20px;
}

/* Projects Section Styles */

#projects {
    margin-top: 40px;
    padding-bottom: 3rem;
}

.projects-page-number {
    font-size: 10rem;
    position: absolute;
    margin-left: 0.5rem;
    font-weight: bold;
    color: #2800FF;
    z-index: 1;
}

.title-projects {
    font-size: 4.5rem;
    font-weight: bold;
    position: relative;
    top: 4rem;
    left: 5rem;
    z-index: 2;
    width: 50%;
}

/* Project Cards Info */

.projects-layout {
    display: flex;
    padding: 0.5rem;
    align-items: stretch;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: relative;
    top: 4rem;
}

.project-card {
    width: 30rem;
    border: 1px solid #FFF;
    margin: 20px;
}

.project-card > button {
    margin: 6px 0;
    padding: 4px 8px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    background: #2800FF;
    color: #E3E3E3;
    cursor: pointer;
    border: 2px solid transparent;
    transition: all 0.4s ease;
}

.project-card button:hover {
    border: 2px solid #E3E3E3;
}

.icons {
    display: flex;
    justify-content: space-evenly;
}


/* Contact Section Styles */

#contact {
    display: grid;
    margin-top: 40px;
    background-color: #000;
}

.contact-page-number {
    font-size: 10rem;
    position: absolute;
    margin-left: 0.5rem;
    font-weight: bold;
    color: #2800FF;
    z-index: 1;
}

.title-contact {
    font-size: 4.5rem;
    font-weight: bold;
    position: relative;
    top: 4rem;
    left: 5rem;
    z-index: 2;
    width: 50%;
}

.contact-layout {
    display: grid;
    justify-content: center;
}

/* Footer Styles */

#footer {
    font-size: 2em;
    text-align: center;
    background-color: #000;
}
