@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400;0,500;0,600;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Familjen Grotesk', sans-serif;
}

body {
    color: #E3E3E3;
    background-image: url("../images/background/74.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

a {
    color: #E3E3E3;
    text-decoration: none;
}

p {
    font-size: 24px;
}

h2 {
    font-size: 30px;
}

h3, h4 {
    font-size: 24px;
}

hr {
    z-index: 2;
}

/* Navbar Styles */

#logo {
    display: none;
    font-size: 30px;
    margin: 1rem;
    padding: 0;
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.overlay {
    position: fixed;
    z-index: 9;
    top: 0;
    right: 0;
    width: 60dvw;
    height: 100vh;
    background-color: #000;
    opacity: 90%;
    transform: translateX(-100vw);
    opacity: 98%;
}

.overlay-slide-right {
    transition: all 0.4s ease-in-out;
    transform: translateX(0);
}

.overlay-slide-left {
    transition: all 0.8s ease-in-out;
    transform: translateX(100vw);
}

/* Navigation Menu Items */
nav,
nav ul {
    height: 100vh;
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    list-style: none;
    margin-top: 4rem;
}

nav ul li {
    height: 30%;
    overflow: hidden;
}

nav li a {
    position: relative;
    color: #fff;
    letter-spacing: 4px;
    text-decoration: none;
    display: block;
    font-size: 48px;
    padding: 2rem;
}

/* Hamburger menu bars */

.menu-bars {
    position: fixed;
    top: 1rem;
    right: 2rem;
    z-index: 10;
    display: inline;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 12px;
    border: 1px solid #FFF;
}

.bar1 {
    width: 35px;
    height: 2px;
    background-color: #FFF;
    margin: 8px 0;
    transition: 0.4s;
}

.bar2 {
    width: 25px;
    height: 2px;
    background-color: #FFF;
    margin: 8px 0;
    transition: 0.4s;
}

.bar3  {
    width: 35px;
    height: 2px;
    background-color: #FFF;
    margin: 8px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    transform: rotate(-45deg) translate(-7px, 8px);
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    transform: rotate(45deg) translate(-6px, -8px);
}

/* Home Page Styles */

.home {
    height: 100vh;
    width: 90%;
}

.home .home-info {
    width: 90%;
    height: 80%;
    margin: 4rem;
    margin-right: 0px;
    color: #FFF;
}

/* Vertical Text */

.vertical-text {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-size: 8rem;
    position: sticky;
    font-family: 'Tenorite', sans-serif;
    font-weight: bold;
    -webkit-text-stroke: 2px #FFF;
    color: transparent;
}


/* Home Page Text */

.home .text-one {
    font-size: 2rem;
    color: #fff;
}

.home .text-two {
    color: #fff;
    font-size: 5rem;
    font-weight: 600;
}

.home .text-three {
    font-size: 2.5rem;
    margin: 5px 0;
    color: #fff;
}

.home .text-four {
    font-size: 1.8rem;
    margin: 5px 0;
    color: #fff;
}

.home-button {
    margin: 14px 0;
    outline: none;
    padding: 8px 16px;
    border-radius: 6px;
    font-size: 24px;
    font-weight: 600;
    background: #e01117;
    color: #E3E3E3;
    cursor: pointer;
    border: 1px solid;
    transition: all 0.4s ease;
    width: 14rem;
}

.home-button:hover {
    border: 2px solid #E3E3E3;
}

@media screen and (max-width:500px) {
    
    #about {
        width: 100dvw;
    }

    .about-content > p {
        margin-left: 2px;
    }
    

    #homepage {
        height: 100dvh;
        width: 95%;
    }

    .home {
        height: 100dvh;
        width: 80%;
    }
    
    .home .home-info {
        margin-left: 20px;
    }

}

/* About Section Styles */

#about {
    background-color: #000;
    opacity: 80%;
}

.about-page-number {
    font-size: 10rem;
    position: absolute;
    margin-left: 0.5rem;
    font-weight: bold;
    color: #e01117;
    z-index: 1;
}

.title-about {
    font-size: 4.5rem;
    font-weight: bold;
    position: relative;
    top: 4rem;
    left: 5rem;
    z-index: 2;
    margin-bottom: 20px;
    width: 50%;
}

.about-content {
    position: relative;
    top: 4rem;
    background-color: #000;
    height: fit-content;
    padding: 1rem;
    padding-bottom: 3rem;
}

.about-content > p {
    margin-left: 20px;
}

/* Projects Section Styles */

#projects {
    margin-top: 40px;
    padding-bottom: 3rem;
}

.projects-page-number {
    font-size: 10rem;
    position: absolute;
    margin-left: 0.5rem;
    font-weight: bold;
    color: #e01117;
    z-index: 1;
}

.title-projects {
    font-size: 4.5rem;
    font-weight: bold;
    position: relative;
    top: 4rem;
    left: 5rem;
    z-index: 2;
    width: 50%;
}

/* Project Cards Info */

.projects-layout {
    display: flex;
    padding: 0.5rem;
    align-items: stretch;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: relative;
    top: 4rem;
}

.project-card {
    width: 30rem;
    margin: 20px;
    border-radius: 8px;
    padding: 0.8rem;
    background: rgba( 5, 5, 5, 0.5 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 1px );
    -webkit-backdrop-filter: blur( 1px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.project-card > button {
    margin-top: 2rem;
    padding: 4px 8px;
    border-radius: 6px;
    font-size: 24px;
    font-weight: 600;
    background: #e01117;
    color: #E3E3E3;
    cursor: pointer;
    border: 1px solid;
    transition: all 0.4s ease;
}

.project-card button:hover {
    border: 2px solid #E3E3E3;
}

.icons {
    display: flex;
    justify-content: space-evenly;
}

/* Contact Section */

#contact {
    display: grid;
    margin-top: 40px;
    background-color: #000;
}


.contact-page-number {
    font-size: 10rem;
    position: absolute;
    margin-left: 0.5rem;
    font-weight: bold;
    color: #e01117;
    z-index: 1;
}

.title-contact {
    font-size: 4.5rem;
    font-weight: bold;
    position: relative;
    top: 4rem;
    left: 5rem;
    z-index: 2;
    width: 50%;
}

.contact-info {
    display: flex;
    width: 100%;
    max-width: 1200px;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

.card {
    padding: 0 20px;
    margin: 0 10px;
    width: calc(33% - 20px);
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
}

.card-icon {
    font-size: 28px;
    color: #e01117;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px !important;
    border-radius: 50%;
    transition: 0.3s linear;
}

.card p {
    margin-top: 20px;
    font-weight: 300;
    letter-spacing: 2px;
    max-height: 0;
}

@media screen and (max-width:800px) {
    .contact-info {
        flex-direction: column;
    }
    .card {
        width: 100%;
        max-width: 300px;
        margin: 10px 0;
    }
}